// crie aqui o mixin .colorir, com os seguintes argumentos:
// - @contador (opcional) com default: 1
// - @cor (opcional) com default: #ff0000
// - @angulo (opcional) com default: 360 / @contador

// O mixin deve diminuir de um o contador a cada repeticao e parar quando o @contador
// for menor que zero. A cada repeticao devera imprimir uma propriedade background
// contendo uma cor obtida da funcao spin, com um angulo proporcional ao contador.

//.colorir{}

// chame o mixin aqui como indicado
div {
  //.colorir(3);
  border: solid black 1px;
  margin: 2px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

