.myclass {
  transform: scale(-1, 1), translateX(50px) rotate(45deg);
  -webkit-transform: scale(-1, 1), translateX(50px) rotate(45deg);
  -moz-transform: scale(-1, 1), translateX(50px) rotate(45deg);
}
