.section {
  padding: 2px;
  margin: 0 2px 0 2px;
  border: solid #e1e1e1;
  background-color: #808080;
  color: #f0f0f0;
}
.section h1 {
  color: #00008b;
}
#footer {
  padding: 2px;
  margin: 0 2px 0 2px;
  border: solid #e1e1e1;
  background-color: #808080;
  color: #f0f0f0;
  background-color: white;
}
