.anim-pulos {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 3;
}
@-webkit-keyframes roteiro-pulo {
  0% {
    -webkit-transform: translateY(100px);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(50px);
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(100px);
    -webkit-animation-timing-function: ease-out;
  }
}
