div {
  width: 100px;
  height: 100px;
  margin: 2px;
  border: solid black 1px;
  display: inline-block;
}
div:nth-of-type(5n+3) {
  background: #80c080;
}
div:nth-of-type(6n + 1) {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  border: none;
}
