// use as cores abaixo
@cores: red green blue yellow violet;

// em um mixin recursivo que repita o numero de vezes correspondente ao numero de
// elementos de @cores, extraia uma cor diferente em cada repeticao e aplique em
// background-color

// declare o mixin aqui

// chame o mixin aqui dentro de um div (e verifique o HTML - deve haver um quadrado de cada cor)
div {
  // chame o mixin
}


div {
  border: solid black 1px;
  margin: 2px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

