.color-components-rgba {
  content: 64, 127.5, 127.5, 0.75;
}
.color-components-hsla {
  content: 240, 100%, 38%;
}
.color-components-hsva {
  content: 120, 50%, 50%;
}
.sec {
  content: 240, 100%, 75%;
  content: 240, 50%, 100%;
}
