div {
  width: 100px;
  height: 100px;
  margin: 2px;
  border: solid black 1px;
  display: inline-block;
  -webkit-animation: turn 2s infinite;
}
div:nth-of-type(6n+1) {
  margin: 0;
  border: none;
  width: 0;
  height: 0;
  display: block;
}
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
    background: #ee82ee;
  }
  25% {
    -webkit-transform: rotate(90deg);
    background: #008040;
  }
  50% {
    -webkit-transform: rotate(180deg);
    background: #edbc64;
  }
  75% {
    -webkit-transform: rotate(270deg);
    background: #ff0080;
  }
  100% {
    -webkit-transform: rotate(360deg);
    background: #ee82ee;
  }
}
