body {
  font-family: Calibri, "Helvetica Neue", Helvetica, sans-serif;
  width: 1024px;
  color: #a030b0;
}
body article {
  padding: 20px;
  margin: 10px 20px;
  border: solid #a030b0 1px;
  background: #f6e7f8;
}
body article .contents {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-rule: solid #000000 1px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-rule: solid #000000 1px;
  column-count: 2;
  column-gap: 20px;
  column-rule: solid #000000 1px;
}
body article .contents section {
  padding: 10px;
  margin: 10px 10px;
  border: solid #a030b0 0px;
  background: transparent;
}
