/* Mas esta linha estará presente no CSS, embora seja ignorada pelo browser */
.header {
  color: cyan;
}
/* Este bloco e as duas últimas propriedades
    do ruleset abaixo serão ignoradas pelo browser */
.header {
  color: cyan;
  /*  background: navy;
      font-size: 16pt;   */
}
