.appearing {
  background-color: rgba(255, 0, 0, 0.9);
  color: rgba(255, 255, 0, 0.6);
}
.disappearing {
  background-color: rgba(255, 0, 0, 0.9);
  color: rgba(255, 255, 0, 0.4);
}
.fade-it {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 255, 0, 0.1);
}
