
body {background-color: rgb(0%,0%,0%);}

.body {width: 450px; margin-left: 2cm}

P {font-size: 14pt; 
   color: rgb(100%,80%,70%);
   margin-top: 7pt; margin-bottom: 7pt;
   text-indent: 1cm;
   text-align: justify;
   line-height: 150%;
   font-family: Garamond, serif);
   }
   
H1, H2, H3 {text-align: center;
		    font-weight: bold; 
	        font-family: Garamond, serif}

H1 {font-size: 32pt;
    color: maroon}

H2 {font-size: 20pt}

H3 {font-size: 14pt}

.destaque     {width: 5cm; 
	           margin: 10px 0px 0px 10px; 
			   padding: 0px 5px; 
			   border-width: 2px; 
			   border-style: outset;
	           border-color: rgb(250,245,200); 
			   background: rgb(250,245,200);
	           float: right; 
			   }
			   
.destaque table     {text-align: center; 
					 text-indent: 0cm;
				     font-size: 13pt; 
					 font-weight: bold; 
					 font-style: italic; 
					 color: rgb(180,90,0);
					 background: rgb(250,245,200);
					 width: 100%}

p.autor      {text-align: center;
			  text-indent: 0px;
			  font-family: sans-serif;
			  font-size: 10pt;
			  border-width: 1px; 
			  border-style: outset none outset none;
	          border-color: rgb(150,145,100);
			  }
	
P.copy {font-size: 12pt; 
        font-style: italic;
		text-align: right;
	   }
	   
P.primeiro {text-indent: 0cm}

P.primeiro:first-letter {font-size: 24pt}
	   
A:link, A:visited {text-decoration: none;
                   color: rgb(50%,50%,0%)}
