#livro {position: absolute;
        top: 200px;
        left: 50px;
        }
#rodape {position: absolute;
        top: 600px;
        left: 50px;
        }
#livro p {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 400px;
        background-color: gray;
        border: solid white 2px;
        padding: 10px;
        display: none;
        }
#imagem1, #imagem2 {
		position:absolute;
		top: 0px;
		left: 500px;
		display: none;
		}
div > img     {height: 317px; width: 225px}

body {background-color: rgb(0%,0%,0%);}

.body {width: 450px; margin-left: 2cm}

P {font-size: 14pt; 
   color: rgb(100%,80%,70%);
   margin-top: 7pt; margin-bottom: 7pt;
   text-indent: 1cm;
   text-align: justify;
   line-height: 150%;
   font-family: Garamond, serif);
   }
   
H1, H2, H3 {font-weight: bold; 
	        font-family: Garamond, serif;
            color: maroon;
   }

H1 {font-size: 32pt}

H2 {font-size: 14pt; color: maroon; text-align: left; 
    text-align: left; font-weight: normal;}

H3 {font-size: 14pt}

.destaque     {width: 5cm; 
	           margin: 10px 0px 0px 10px; 
			   padding: 0px 5px; 
			   border-width: 2px; 
			   border-style: outset;
	           border-color: rgb(250,245,200); 
			   background: rgb(250,245,200);
	           float: right; 
			   }
			   
.destaque table     {text-align: center; 
					 text-indent: 0cm;
				     font-size: 13pt; 
					 font-weight: bold; 
					 font-style: italic; 
					 color: rgb(180,90,0);
					 background: rgb(250,245,200);
					 width: 100%}

p.autor      {text-align: center;
			  text-indent: 0px;
			  font-family: sans-serif;
			  font-size: 10pt;
			  }
	
P.copy {font-size: 12pt; 
        font-style: italic;
		text-align: right;
	   }
	   
	.menu {line-height: 100%; margin-top: 7px; margin-bottom: 7px;
	        padding: 1px; border-style: outset; border-width: 1px; border-color: gray;
			background-color: rgb(10%,10%,10%); width: 100%;
            text-indent: 0px; text-align: right; font-size: 10pt;
            font-family: tahome, sans-serif}
    .menu1 {text-align: left}
    .menu2 {text-align: right}
	a:hover {color: rgb(100%,90%,0%); text-decoration: underline}
       
P.primeiro {text-indent: 0cm}

P.primeiro:first-letter {font-size: 24pt}
	   
A:link, A:visited {text-decoration: none;
                   color: rgb(50%,50%,0%)}
