// c) Crie um mixin .numerar que recebe um parametro obrigatorio:
// 1. numero do artigo

@base-color: #a030b0;

body {
  font-family: Calibri, "Helvetica Neue", Helvetica, sans-serif;
  width: 1024px;
  color: @base-color;

  article {
    .box(20px; 10px; lighten(@base-color, 50%); 1px);

    .contents {
      .column();

      section {
        .box(10px);
      }
    }

    // c) Substitua aqui chamadas ao mixin para numerar artigos 1 e 2.
    &:nth-of-type(1) {
      > h1 {
        text-align: center;
        &:after {
          content: ' 1';
        }
      }
    }
    &:nth-of-type(2) {
      > h1 {
        text-align: center;
        &:after {
          content: ' 2';
        }
      }
    }
  }
}

.box(@horiz; @vert: @horiz; @bg: transparent; @border: 0px) {
  padding: @horiz;
  margin: @vert @horiz;
  border: solid @base-color @border;
  background: @bg;
}


.column(@count: 2; @gap: 20px; @rule-width: 1px; @rule-color: black) {
  -webkit-column-count: @count;
  -webkit-column-gap: @gap;
  -webkit-column-rule: solid @rule-color @rule-width;
  -moz-column-count: @count;
  -moz-column-gap: @gap;
  -moz-column-rule: solid @rule-color @rule-width;
  column-count: @count;
  column-gap: @gap;
  column-rule: solid @rule-color @rule-width;
}